six==1.16.0
spacy==3.1.1
grpcio==1.39.0
grpcio-tools==1.39.0
numpy==1.18.5
openai==0.10.1
rasa==2.2.4
rasa-sdk==2.2.0
transformers==4.9.1
torch
parlai==1.1.0
flask==2.0.1
flask-cors==3.0.10
click==7.1.1