six==1.16.0
spacy==3.1.2
click==7.1.2
grpcio==1.39.0
grpcio-tools==1.39.0
numpy==1.21.2
openai==0.10.1
rasa==2.8.3
rasa-sdk==2.2.0
openchat==1.1.12
transformers==4.9.2
torch
parlai==1.4.1
flask==2.0.1
flask-cors==3.0.10
pysqlite3==0.4.6