click==7.1.2
flask==2.0.2
flask-cors==3.0.10
psycopg2
emoji
grpcio==1.41.1
grpcio-tools==1.41.0
numpy==1.18.5
oauthlib==3.1.0
openai==0.10.5
parlai==1.5.1
requests-oauthlib==1.3.0
six==1.16.0
spacy==3.1.3
tensorboard-data-server==0.6.0
tensorflow_addons==0.14.0
tensorflow_hub==0.10.0
tensorboard-plugin-wit==1.7.0
tensorflow-probability==0.14.1
threadpoolctl==3.0.0
tokenizers==0.10.2
torch==1.9.1
torchtext==0.10.1
tqdm==4.62.3
transformers==4.11.3
twilio==7.1.0
typeguard==2.13.0
typer==0.4.0