{% extends "layout.jinja" %}

{% block content %}
<center>
<h4>Login</h4>
<form action="/" method="post" id="login">
    <label for="username">Username:</label>
    <br/>
    <input type="text" id="username" name="username" value="">
    <br/>
    <label for="client">Password:</label>
    <br/>
    <input type="password" id="password" name="password" value="">
    <br/>
    <br/>
    <input type="submit" name="login" value="Login">
</form>
</center>
{% endblock %}