{% extends "layout.jinja" %}

{% block content %}
<center>
    <p>There needs to be a short help.</p>
    <p>Block Manager: a list of users to block.</p>
    <p>Chat Filter Manager (For Users): set words to change user ratings.</p>
    <p>Chat Filter Manager (For AI): allows to block words for an AI.</p>
</center>
{% endblock %}